# minilab: Ασκήσεις εξάσκησης - Αριθμητική Python και Προεπεξεργασία δεδομένων

## Η βιβλιοθήκη ``Pandas``

### Exercise 1.1: DataFrame Basics

Do the following:

Create an 3x4 (3 rows x 4 columns) Pandas DataFrame in which the columns are named ``Savvas``, ``Nikos``, ``Roman``, and ``Avinash``. Populate each of the 12 cells in the DataFrame with a **random integer** between 0 and 100 (inclusive).

1. Output the entire DataFrame


2. Output the value in the cell of row \#1 of the Roman column


3. Create a fifth column named ``Sums``, which is populated with the row-by-row sums of Roman and Avinash.

> **Hint**: Use the [np.random.randint()](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html) method to get random integers in an interval.

In [ ]:
# Implement code here

### Exercise 1.2: DataFrame Basics (cont.)

Create a Pandas DataFrame with the following data:

```python
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

```

1. Print the first 3 rows of the DataFrame.

2. Calculate the mean age of the individuals.

In [ ]:
# Implement code here

### Exercise 2: Data Filtering

Given the DataFrame from Exercise 1.2, write code to:

1. Create a new DataFrame containing only individuals older than 25.

2. Find and print the names of individuals from Chicago.

In [ ]:
# Implement code here

### Exercise 3: Data Sorting

Given the DataFrame from Exercise 1.2, write code to:

1. Sort the DataFrame by age in descending order.

2. Sort the DataFrame by name in alphabetical order.

In [ ]:
# Implement code here

### Exercise 4: Using ``loc`` for Label-Based Indexing

Given the following DataFrame df:

```python
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50],
        'C': ['apple', 'banana', 'cherry', 'date', 'elderberry']}

df = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five'])
```

1. Use the ``loc`` indexer to select and print the row with the label 'three'.

2. Use the ``loc`` indexer to select and print the values from columns 'A' and 'C' for the rows with labels 'two' and 'four'.

In [ ]:
# Implement code here

### Exercise 5: Using ``iloc`` for Integer-Based Indexing

Given the following DataFrame df:

```python
data = {'X': [11, 22, 33, 44, 55],
        'Y': [110, 220, 330, 440, 550],
        'Z': ['apple', 'banana', 'cherry', 'date', 'elderberry']}

df = pd.DataFrame(data)
```

1. Use the ``iloc`` indexer to select and print the first row.

2. Use the ``iloc`` indexer to select and print the values from columns 'X' and 'Z' for the second and fourth rows.

In [ ]:
# Implement code here

### Exercise 6: Data Import and Export

1. Read a CSV file named "employees.csv", in the data directory, into a Pandas DataFrame.

2. Export the DataFrame from part 1 to a new CSV file named "output.csv".

In [ ]:
# Implement code here

### Exercise 7: Missing Data Handling

Below you are given a DataFrame with missing values. 

```python
data_na = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 22, np.nan, 29],
        'Score1': [85, 92, 78, 65, 88],
        'Score2': [90, 87, 75, 60, np.nan]}
```

Write code to:

1. Fill missing values in the "Age" column with the mean age.

2. Remove rows with missing values.

In [ ]:
# Implement code here

### Exercise 8: Adding New Columns

Create a dictionary that contains the data in the following table. Then, convert this dictionary into a DataFrame. Use Hubble's law ($v = H_0 D$) to calculate the distance (in Mpc) of the galaxies and add it as a new column to the DataFrame.

| Galaxy    | Velocity (km/s) |
|-----------|-----------------|
| NGC 123   | 1320            |
| NGC 2342  | 5690            |
| NGC 4442  | 8200            |

Remember that $H_0 \simeq 70$ km/s/Mpc.

In [ ]:
# Implement code here

### Exercise 9: Data Pre-processing with Pandas

Suppose you have a dataset containing information about student performance, but it requires some basic pre-processing before analysis. You are provided with a DataFrame named ``students_df`` with the following columns: 'StudentID', 'Name', 'MathScore', 'ScienceScore', 'EnglishScore', and 'TotalScore'. 

The exercise involves data pre-processing tasks to clean and prepare the data for analysis.

```python
data = {
    'StudentID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'MathScore': [85, 92, 78, 65, 88],
    'ScienceScore': [90, 87, 75, 88, 92],
    'EnglishScore': [80, 75, 88, 79, 95],
    'TotalScore': [265, 152, 541, 202, 215]
}

students_df = pd.DataFrame(data)
```

**Your task**:

1. The data in the 'TotalScore' column seems to be incorrect and needs to be recalculated as the sum of Math, Science, and English scores. Recalculate the 'TotalScore' column as the sum of MathScore, ScienceScore, and EnglishScore.

2. Identify and handle any missing values (if present) in the dataset. Print the modified DataFrame.

3. Calculate and add a new column 'AverageScore' that represents the average score of each student across subjects.

4. Find and print the student with the highest 'AverageScore'.

5. Identify and filter students who have scored 90 or above in at least one subject (Math, Science, or English).

6. Print the DataFrame containing only the students who meet the criteria in part 5.

In [ ]:
# Implement code for task 1 here

In [ ]:
# Implement code for task 2 here

In [ ]:
# Implement code for task 3 here

In [ ]:
# Implement code for task 4 here

In [ ]:
# Implement code for task 5 here

In [ ]:
# Implement code for task 6 here